@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

	* {
		box-sizing: border-box;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: 'Montserrat', sans-serif !important;
		height: 100vh;
		margin: -20px 0 50px;
		overflow-y:scroll;
	}

	h1 {

		font-family: 'Montserrat', sans-serif;
		width: 500px;
		color: black;
		font-size : 34px;
		font-line: 12px;
		font-weight: bold;
		margin: 0;
	}
	h1.ghost {

		color: white;

		font-size : 34px;
		font-line: 12px;
		margin: 0;
	}


	h2 {
		text-align: center;
	}

	p {
		font-size: 14px;
		font-weight: 100;
		line-height: 20px;
		letter-spacing: 0.5px;
		margin: 20px 0 30px;
		color:white;
	}

	.dark {
		font-size: 12px;
		color: #333;
	}

	a {
		color: #333;
		font-size: 14px;
		text-decoration: none;
		margin: 15px 0;
	}
	.main-header__nav-link{
		font-size: 11px;

	}
	.buscar-caja {
	    background: var(--color-contrast-lower);

	    margin-top: 10px;
	}
	button {
		border-radius: 20px;
		border: 1px solid var(--color-contrast-lower);
		background-color: var(--color-contrast-lower);
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 3px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;
	}
	
	button.btnLogin
	{
	color:	 var(--color-contrast-higher);
	
	}
	
	button.btnSubmit
	{
	color:	 var(--color-contrast-higher);
	}
	button:active {
		transform: scale(0.95);
	}

	button:focus {
		outline: none;
	}

	button.ghost {
		background-color: transparent;
		border-color:var(--color-contrast-highest);
	}

	form {
		background-color:var(--color-background-overlay);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		text-align: center;
	}

	input {
		color: #333;
		background-color: #dbdbdb!important;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
		font-size: 15px;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color:#333;
	  opacity: 1; /* Firefox */
	}
	
	.containerLog {
	background-color: var(--color-contrast-highest);
		border-radius: 10px;
	  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
		position: relative;
		overflow: hidden;
		width: 768px;
		max-width: 100%;
		min-height: 480px;
	}

	.form-containerLog {
		position: absolute;
		top: 0;
		height: 100%;
		transition: all 0.6s ease-in-out;
	}

	.sign-in-containerLog {
		left: 0;
		width: 50%;
		z-index: 2;
	}

	.containerLog.right-panel-active .sign-in-containerLog {
		transform: translateX(100%);
	}

	.sign-up-containerLog {
		left: 0;
		width: 50%;
		opacity: 0;
		z-index: 1;
	}

	.containerLog.right-panel-active .sign-up-containerLog {
		transform: translateX(100%);
		opacity: 1;
		z-index: 5;
		animation: show 0.6s;
	}

	@keyframes show {
		0%, 49.99% {
			opacity: 0;
			z-index: 1;
		}

		50%, 100% {
			opacity: 1;
			z-index: 5;
		}
	}

	.overlay-containerLog {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		overflow: hidden;
		transition: transform 0.6s ease-in-out;
		z-index: 100;
	}

	.containerLog.right-panel-active .overlay-containerLog{
		transform: translateX(-100%);
	}

	.overlay {
		background: var(--color-contrast-low);
		background: -webkit-linear-gradient(to right, var(--color-overlay), var(--color-overlay-two));
		background: var(--color-overlay);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		color: #FFFFFF;
		position: relative;
		left: -100%;
		height: 100%;
		width: 200%;
	  	transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}

	.containerLog.right-panel-active .overlay {
	  	transform: translateX(50%);
	}

	.overlay-panel {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 40px;
		text-align: center;
		top: 0;
		height: 100%;
		width: 50%;
		transform: translateX(0);
		transition: transform 0.6s ease-in-out;
	}
	

	.overlay-left {
		transform: translateX(-20%);
	}

	.containerLog.right-panel-active .overlay-left {
		transform: translateX(0);
	}

	.overlay-right {
		right: 0;
		transform: translateX(0);
	}

	.containerLog.right-panel-active .overlay-right {
		transform: translateX(20%);
	}

	.social-containerLog {
		margin: 20px 0;
	}

	.social-containerLog a {
		border: 1px solid var(--color-contrast-low);
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		height: 40px;
		width: 40px;
	}

	footer {
	    background-color: var(--color-contrast-lowerest);
	    font-size: 14px;
	    bottom: 0;
	    position: fixed;
	    left: 0;
	    right: 0;
	    text-align: center;
	    z-index: 999;
	}

	footer p {
			margin: 10px 0;
			color: var(--color-contrast-higher);
	}

	footer a {
	    color: #2648DF;
	    text-decoration: none;
	}
	
		@media only screen and (max-width: 600px) 
	{
		
		form {
			padding: 0px 0px;
		}
		.containerLog
		{
			box-shadow: 0 0px 0px rgb(0 0 0 / 0%), 0 0px 0px rgb(0 0 0 / 0%) !important;
			background-color:var(--color-background-overlay);
			max-width:350px;
		}
		.overlay-panel 
		{
			background-color:transparent;
		}
		.overlay
		{
			
			 background-color:transparent !important;
		}
		
		h1.ghost {

		color: transparent;
		}
		p{

		color: transparent;
		}
		.sign-in-containerLog {
			left: 0;
			width:100%;
			z-index: 2;
		}
		
		
		button.ghost
		{
		 border: 0px ;
		color:var(--color-contrast-lower);
		padding: 0;
		width:65px;
		position: absolute;
		    top: 19%;
		}
		.overlay-containerLog {
		position: absolute;
		top: 88%;
		left: 40%;
		width:  80px;
		height: 40px;
		}
		#formLogin > a {
		display:none;
		}
		
		.containerLog.right-panel-active .sign-up-containerLog {
		
			transform: translateX(0%);
		}
			.containerLog.right-panel-active .overlay-containerLog {
			transform: translateX(0%);
		}
		.sign-up-containerLog 
		{
			width: 100%;
		}
		.feature margin-bottom--xl margin-top--xxl 
		{
			margin : 0 !important;
		}
		.error {
			 margin-bottom: 10px; 
		}
		input {
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
		}
	
		
